@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 39, 36);
  gap: 80px;
}
button {
  background-color: rgb(77, 67, 51);
  padding: 10px 20px;
  font-size: 2em;
  border: 3px solid rgb(146, 144, 115);
  color: rgb(226, 225, 213);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
}
button:hover {
  background-color: rgb(51, 44, 34);
  border-color: rgb(226, 225, 213);
}
.output {
  display: flex;
  width: 80%;
  color: white;
  font-size: 1.5em;
}
